<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.quest.controllerpowerhook" android:versionCode="2" android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="34" />
    <application android:label="Controller Rescue · Power" android:allowBackup="false" android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Optional double-power shortcut for Controller Rescue. Enable in Controller Rescue after activating Android scope." />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
